<h1>Pokemon Detail</h1>
<p>{{pokemon}}</p>
<img src="{{pokemon.photo_url}}" alt="" />
<h3>Type</h3>
<ul>
  {% for type in pokemon.type.all %}
  <li>{{type.name}}</li>
  {% endfor %}
</ul>

<h3>Evolution Chain</h3>
{% if pokemon.evolution_chain.all %}

<ul>
  {% for evolution in pokemon.evolution_chain.all %}

  <a href="{% url 'pokemon_detail' evolution.pk %}">
    <li>{{evolution}}</li>
  </a>
  <img src="{{evolution.photo_url}}" alt="" />

  {% endfor %}
</ul>
{% else %}
<p>No Evolutions</p>
{% endif %}
