<h1>Pokemon Display</h1>
<a href="{% url 'create_pokemon' %}"><h3>Create Pokemon</h3></a>
<form method="get">
  {% csrf_token %}
  <input type="text" name="pokemon_search" />
  <input type="submit" value="Submit" />
</form>
<ul>
  {% for pokemon in pokemon_list%}
  <li><a href="{% url 'pokemon_detail' pokemon.pk %}">{{pokemon}}</a></li>
  <p><a href="{% url 'update_pokemon' pokemon.pk %}">update</a></p>
  <p><a href="{% url 'delete_pokemon' pokemon.pk %}">delete</a></p>
  {% endfor %}
</ul>

{% comment %} pagination {% endcomment %}

<div class="pagination">
  <span> Page {{ page_obj.number }} of {{ paginator.num_pages }} </span>

  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
  {% endif %} {% for num in paginator.page_range %} {% if page_obj.number == num %}
  <strong>{{ num }}</strong>
  {% else %}
  <a href="?page={{ num }}">{{ num }}</a>
  {% endif %} {% endfor %} {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
  {% endif %}
</div>
